.border-test {
  border: 1px solid red;
}

.pointer {
  cursor: pointer;
}

#toolTipMaster {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 48vw;
  opacity: 0;
  width: 100px;
  text-align: right;
  border-radius: 4px;
  padding: 10px 7px;
  z-index: 1000;
  &.active {
    opacity: 1;
    bottom: 10px;
  }
}

.routerLink{
  padding:5px;
  border-radius: 5px;
  color:theme('colors.grey.gull');
  &.active{
    background-color: theme('colors.grey.extra-light');
    color:theme('colors.primary')
  }
}