@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import "product-sans";

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html{
 //font-family: 'Open Sans', sans-serif;
 //font-family: 'IBM Plex Sans', sans-serif;
 font-family: 'Inter', sans-serif;
}
.product{
 font-family: "Product Sans", Helvetica, serif;

}

.text-xs	{ font-size: .75rem;}
.text-sm	{ font-size: .875rem;}
.text-base	{ font-size: 1rem;}
.text-lg	{ font-size: 1.125rem;}
.text-xl	{ font-size: 1.25rem;}
.text-2xl	{ font-size: 1.5rem;}
.text-3xl	{ font-size: 1.875rem;}
.text-4xl	{ font-size: 2.25rem;}
.text-5xl	{ font-size: 3rem;}
.text-6xl	{ font-size: 4rem;}
.text-12xl	{ font-size: 8rem;}
.text-24xl	{ font-size: 16rem;}

.bold{
 font-weight: 700;
}
.spacing-lg{
 letter-spacing: 1px;
}
.normal{
 font-weight: 400;
}
.light{
 font-weight: 300;
}

