

*{
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #C2C4C6;
}

*::-webkit-scrollbar-thumb {
  background-color: #3B34F3;
  outline: none;
}