@import "parts/_misc";
@import "parts/mixins";
@import "parts/_colors";
@import "parts/_typography";
@import "parts/general";
@import "parts/scene";
@import "parts/loader";

.link {
  text-decoration: none;
  color: inherit;
  &.standard-link {
    text-decoration: none;
    color: $blue-ribbon;
    position: relative;
    display: inline-block;
  }
}
