$catsilk: #f3f5f9;
$transparent: transparent;
$black: #000;
$white: #fff;

//  primary , brand, identity

$primary: #2643f7;
$primary-light: #877dfb;
$secondary-light: #ffdfdf;
$secondary: #ffb0b0;

$complementary-light: #b69dfb;
$complementary: #6f4cff;

// tertiary colors, text, icons, headlines, etc

$grey-dark: #4c4b5d;
$grey-medium: #a09faf;
$grey-light: #c7c6d4;
$grey-fjord: #445672;
$grey-gull: #5f768f;
$grey-spindle: #c0d0ee;

// contextual colors, success, errors, etc

$important: #007bff;
$success: #2eddbd;
$info: #17a2b8;
$error: #fe6a6a;
$warning: #ffc107;
