.border-test {
  border: 1px solid red;
}

.pointer {
  cursor: pointer;
}
html {
  cursor: none;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  transition: background-color 0.3s ease-in-out;
}
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #c2c4c6;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b34f3;
  outline: none;
}
