@import url("https://rsms.me/inter/inter-ui.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$red: #d0021b;
$black: #192735;
$pink: #ffecec;

body,
* {
  // font-family: "Inter UI", sans-serif;
  // font-family: "Space Grotesk", sans-serif;
  font-family: "Poppins", sans-serif;
}

// types
.text-1 {
  @include fluid-type(320px, 1200px, 60px, 120px);
  font-weight: 900;
}
.text-2 {
  @include fluid-type(320px, 1200px, 60px, 70px);
  font-weight: 800;
}
.text-3 {
  @include fluid-type(320px, 1200px, 40px, 50px);
  font-weight: 700;
}
.text-4 {
  @include fluid-type(320px, 1200px, 30px, 35px);
  font-weight: 700;
}
.text-5 {
  @include fluid-type(320px, 1200px, 18.66px, 22.66px);
  font-weight: 400;
}
.text-normal {
  @include fluid-type(320px, 1200px, 14px, 17px);
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: medium;
}
.bold {
  font-weight: bold;
}
