/** P*ULP Sans **/

@font-face {
    font-family: 'Pulp Display';
    src: url('PulpDisplay-Light.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Pulp Display';
    src: url('PulpDisplay-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pulp Display';
    src: url('PulpDisplay-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pulp Display';
    src: url('PulpDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}




