@tailwind base;

@import "parts/mixins";
@import "parts/variables/_colors";
@import "parts/_typography";
@import "parts/general";

// custom scss
@import "parts/scene";
@import "parts/loader";
@import "parts/triggers";

.link {
  text-decoration: none;
  color: inherit;
  cursor: none;
  &:hover {
    cursor: none;
  }
  &.standard-link {
    text-decoration: none;
    color: $blue-ribbon;
    position: relative;
    display: inline-block;
  }
}

.content {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#sideInfo {
  position: fixed;
  top: 2vw;
  left: 2vw;
  height: 90vh;
  z-index: 1000;
  max-width: 8rem;

  .text {
    transform-origin: center;
    transform: rotate(-90deg);
  }
}

@tailwind utilities;
