@tailwind base;

@import "parts/mixins";
@import "parts/_colors";
@import "parts/_typography";
@import "parts/general";

// custom scss
@import "parts/scene";
@import "parts/loader";
@import "parts/triggers";

.link {
  text-decoration: none;
  color: inherit;
  &.standard-link {
    text-decoration: none;
    color: $blue-ribbon;
    position: relative;
    display: inline-block;
  }
}

.content {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
@tailwind utilities;
